<!--<div class="workout-show-header" id="category-header"  style="background-image: url(https://s3.amazonaws.com/m.sworkit.com/assets/workouts/images/small/coreExercise.png);-->
<!--background-repeat:no-repeat">-->
<!--</div>-->


<section class="workout-show-header" style="background-image: url(https://s3.amazonaws.com/m.sworkit.com/assets/workouts/images/small/coreExercise.png);
background-repeat:no-repeat">

</section>

<div id="catogery-show-container" class="showscroll">

    <div id="catogery-container" ui-view>

    </div>

</div>