<div class="panel greyPanel">
    <ul class="sideMenuLinks">
        <!--<li><a ui-sref=""><i class="fa fa-plus-square"></i> Reminders</a></li>-->
        <!--<li><a ui-sref=""><i class="fa fa-lock"></i> Settings</a></li>-->
        <li><a ui-sref="auth"><i class="fa fa-lock"></i> Log-out</a></li>
        <li><a ui-sref="admin.main.editor"><i class="fa fa-user"></i>Admin</a></li>
        <!--<li>-->
            <!--<a ui-sref="player.exercises" ui-sref-active="selected">-->
                <!--<i class="fa fa-home"></i>-->
                <!--<small>Exercises</small>-->
            <!--</a>-->
        <!--</li>-->
        <!--</li>-->
    </ul>
</div>