<div class="ways">
    <!--<a class="facebook" href="#" ng-click="auth.oAuthLogin('facebook')">Sign up with Facebook</a>-->
    <!--<a class="google" href="#" ng-click="auth.oAuthLogin('google')">Sign up with Google</a>-->
    <a class="email" ui-sref="auth.emailsignup">Sign up with your email</a>
</div>

<p>
    By signing up, you agree to InstaLetter's <a href="">Terms and Conditions</a> and <a href="">Privacy Policy</a>.
</p>

<hr>

<a class="alone" ui-sref="auth.login">Already have an account? Sign in here.</a>
